<input type="text" id="search" ng-change="search()" ng-model="query" autocomplete="off" placeholder="Search...">

<div id="contacts">
  <a class="profile" ng-repeat="contact in contacts" href="#/contacts/{{contact.id}}">
    <img class="profile-picture" src="me.jpeg">
    <div class="name">
      <h2 class="lastname">{{ contact.lastname }}</h2>
      <h2 class="firstname">{{ contact.firstname }}</h2>
    </div>
    <div class="contact-info">
      <span ng-repeat="data in contact.contactdata" class="contact-icon {{ data.type }}"></span>
    </div>
  </a>
</div>
