.profile {
	position: relative;
	float: left;
	margin-right: 25px;

	padding-top: 22px;

	width: 225px;
	height: 300px;
	border-radius: 8px;
	/* Rectangle 1: */
	background: #FFFFFF;
	-moz-box-shadow:    0px 1px 3px 0px rgba(0,0,0,0.50);
	box-shadow:         0px 1px 3px 0px rgba(0,0,0,0.50);

}

.profile-picture {
	width: 120px;
	height: 120px;

	border-radius: 65px;

	display: block;
	margin: 0 auto;

	/* Oval 1: */
	/* Sketch doesnt export pattern fills at this point */
	-moz-box-shadow:    0px 1px 2px 0px rgba(0,0,0,0.50);
	box-shadow:         0px 1px 2px 0px rgba(0,0,0,0.50);	
}

.name {
	margin-top: 10px;
}

.firstname, .lastname {
	margin: 0;
	font-family: Helvetica;
	font-size: 24px;
	color: #5D5D5D;
	line-height: 29px;

	text-align: center;
}

#topbar {
	height: 60px;
	position: fixed;
	z-index: 9999;
	background: white;
	width: 100%;
	box-shadow: 0 3px 6px #DDD;
	opacity: 0.5;
}