body {
  margin: 0;
  background: #F5F5F5; }

.profile {
  position: relative;
  float: left;
  margin-right: 25px;
  margin-bottom: 20px;
  padding-top: 22px;
  width: 225px;
  height: 300px;
  border-radius: 8px;
  /* Rectangle 1: */
  background: #FFFFFF;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transition: transform 0.07s; }

.profile:hover {
  transform: scale(1.05); }

.profile-picture {
  width: 120px;
  height: 120px;
  border-radius: 65px;
  display: block;
  margin: 0 auto;
  /* Oval 1: */
  /* Sketch doesnt export pattern fills at this point */
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.5); }

.name {
  margin-top: 10px; }

.firstname, .lastname {
  margin: 0;
  font-family: Helvetica;
  font-size: 24px;
  color: #5D5D5D;
  line-height: 29px;
  text-align: center; }

.contact-info {
  text-align: center;
  margin-top: 10px; }

.contact-icon {
  width: 25px;
  height: 25px;
  display: inline-block; }

.twitter {
  background: url('/assets/img/twitter.png');
  background-size: 25px 25px; }

.email {
  background: url('/assets/img/mail.png');
  background-size: 25px 25px; }

#search {
  position: fixed;
  z-index: 9999;
  width: 100%;
  height: 60px;
  font-size: 2em;
  font-style: italic;
  border: 0;
  text-align: center;
  opacity: 0.95;
  box-shadow: 0 3px 6px #DDD;
  color: #4E4E4E; }

#search:focus {
  outline: 0; }

#contacts {
  padding-top: 75px;
  width: 80%;
  margin: 0 auto; }

#navbar {
  float: left;
  width: 20%; }
